[DEFAULT]
ConnectionType=initiator
ReconnectInterval=2
FileStorePath=store
FileLogPath=log
StartTime=00:00:00
EndTime=00:00:00
UseDataDictionary=Y
TransportDataDictionary=D:/Git/quickfixn/spec/fix/FIXT11.xml
AppDataDictionary=D:/Git/quickfixn/spec/fix/FIX50SP2.xml
SocketConnectHost=127.0.0.1
SocketConnectPort=5001
LogoutTimeout=5
ResetOnLogon=Y
ResetOnDisconnect=Y

[SESSION]
# inherit ConnectionType, ReconnectInterval and SenderCompID from default
BeginString=FIXT.1.1
DefaultApplVerID=FIX.5.0SP2
SenderCompID=CLIENT1
TargetCompID=EXECUTOR
HeartBtInt=30 

